<html>
  <head>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/json2.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/backbone.js"></script>
    <script type="text/javascript" src="js/backbone-localstorage.js"></script>
    <script type="text/javascript" src="js/yhooquote.js"></script>
    <script type="text/javascript" src="js/quoteapp.js"></script>
    <link rel="stylesheet" href="style/quote.css" type="text/css" media="screen" />
  </head>
  <body>
    <script type="text/template" id="quote-template">
      <div id=<%= Symbol %> class="quotebox">
          <div class="quote-symbol">
            <%= Symbol %>
          </div>
        <div class="quote_data_table">
          <div class="stock_row">
            <div class="price stock_data">
              <div id="price" class="stock_data">
                <%= LastTradePriceOnly %> <br/>
                (<%= ChangeRealtime %> /
                <%= ChangeinPercent %> )
              </div>
            </div>
            <div class="time stock_data">
              <div id="time" class="stock_data"><%= LastTradeDate %>  <%= LastTradeTime %></div>
            </div>
            <div class="range stock_data">
              <div id="range" class="stock_data"><%= YearRange %></div>
            </div>
          </div>
          <div class="stock_row">
            <div class="yield stock_data">
              <div class="stock_data"><%= DividendYield %></div>
            </div>
            <div class="paydate stock_data">
              <div class="stock_data"><%= DividendPayDate %></div>
            </div>
            <div class="share stock_data">
              <div class="stock_data"><%= DividendShare %></div>
            </div>
          </div>
        </div>
      </div>
    </script>
    <button id="add-quote">add symbol</button>
    <div id="quote">
      <p>Update Quotes</p>
    </div>
    <div id="quote-area"></div>
  </body>
</html>
