.qoutebox{
         display: table-row;
}
.quote_data_table{
                 padding-top: 10px;
                 display: table-cell;
                 min-width: 500px;
                 border-bottom: 3px solid green;
}
.quote-symbol{
             min-width: 60px;
             display: table-cell;
             background: wheat;
             padding-right: 3px;
             border-bottom: 3px solid green;
             vertical-align: middle;
}
.ticker{
             font-size: 24;
             font-weight: bold;
             color: blue;
             font-family: tahoma, sans-serif;
             text-align: center;
}
.stock_data{
           display: table-cell;
           padding: 0px 5px 5px 5px;
           min-width: 200px;
}
.stock_row{
          display: table-row;
          padding-bottom: 5px;
}
li{
  list-style: none;
}
.symbol-destroy{
  vertical-align: top;
               text-align: left;
  font-size: 8px;
  color: black;
}